# Environment variables for Madame-Agent
PORT=

# API Keys for Cloud Providers
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
NVIDIA_API_KEY=
HF_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=

# YAML configuration path
ROUTING_CONFIG_PATH=
